<header class="lp-head">
  <h2 class="lp-h2" data-el="heading" data-edit="heading" data-ph="Heading">{{heading}}</h2>
  {{#if subheading}}
  <p class="lp-lead lp-pre" data-el="subheading" data-edit="subheading">{{subheading}}</p>
  {{/if}}
</header>
<div class="lp-grid" data-grid>
  {{#each items}}
  <article class="lp-card" data-el="card">
    {{#if icon}}<div class="lp-feature-icon" data-el="icon">{{icon}}</div>{{/if}}
    <h3 class="lp-h3" data-el="title" data-edit="title">{{title}}</h3>
    <p class="lp-pre" data-el="text" data-edit="text">{{text}}</p>
  </article>
  {{/each}}
</div>
